#root {
margin: 0 auto;
text-align: center;
width: 100%;
} 
.bd-sidebar {
  grid-area: sidebar;
}
 
.logo {
  height: 3rem;
  will-change: filter;
  transition: filter 300ms;
  /* background: none; */
}
.common-margin{
  padding:10px 0;
  margin-top: 90px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.bg-base{
  background:#264653;
  color:#fff;
}
.btn-blue{
  background:#2a9d8f;
  color:#fff;
  font-weight:600
}
.border-bottom-green{
  border-bottom: 1px solid  #2A9D8F;
}
.bg-blue{
  background:#264653;
  color:#fff;
}
.text-blue{
  color:#4f7090;
}
.text-orange{
  color:#e76f51;
}
.bg-base-orange {
  --tw-bg-opacity: 0.9;
  background-color: rgb(231 111 81/var(--tw-bg-opacity));
}
ul.list-group li {
  list-style: none;
  margin-left: 45px;
}
.border-light-green {
  border: 1px solid  #2A9D8F;
}
.border-light-orange {
  border: 1px solid  #d5a093;
}
.bg-light-orange{
  --tw-bg-opacity: 0.1;
  background-color: rgb(231 111 81/var(--tw-bg-opacity));

}
.bg-base-orange:hover{
  --tw-bg-opacity: 0.8;
  background-color: rgb(231 111 81/var(--tw-bg-opacity));

}
.back-btn{top:10px;
left:10px}
.btn-yellow{background:#E9C46A;color:#264653}
.text-green{
  color:#2a9d8f;
  font-weight:800
}
.navbar-expand-lg .navbar-nav .nav-link{color:#fff}
.text-dark-blue{ color:#023047;}
.eye-button{
  padding:0;
  right:10px;
  top:2px;
  display:flex;
  align-items: center;
  border:none;  
}
.bi-eye{width:30px} 
.eye-button:focus,.eye-button:active{
  border:none
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (min-width: 992px){
.bd-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  display: block !important;
  height: calc(100vh - 6rem);
  padding-left: 0.25rem;
  margin-left: -0.25rem;
  overflow-y: auto;
}  

}


.read-the-docs {
  color: #888;
}
.human-icon {
  height: 5.5em;
  padding: 2em;
  margin-left: 600px;
  will-change: filter;
  transition: filter 300ms;
  background: none;
}
.cart {
  height: 5em;
  padding: 1.5em;
  margin-left: 100px;
  will-change: filter;
  transition: filter 300ms;
  /* background: none; */
} 


.card-details {
  margin-bottom: 15px; 
  padding: 5%;
}

.product-details .card{
  margin-top: 4.7rem;
}
.product-image {
  max-width: 800px;
  max-height: 900px;
  margin-top: auto;
  padding-bottom: 2.5rem;
    padding-top: 30px;
}

.cartImage img{
  max-width: 100px;
  max-height: 900px;
  margin-top: auto;
  padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.count{
display: flex;
justify-content: center;
gap: 10px;
/* flex-direction: row; */
}
.count-number{
margin:0;
padding:10px
}
.bi-dash,.bi-plus{font-size:1.5rem}
.increment, .decrement{
width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* NavBar Css starts */
/* Profile Picture */
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.user-page{
  
  gap: 20px;
}
.bi.bi-person-circle{
  font-size: 2rem;margin-right:10px
}
.profile-menu .dropdown-toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  }


  @media (max-width: 576px) {
  
    .increment, .decrement {
        width: 25px;
        height: 25px; }
    }
    p{
      margin:0
    }
  /* .align-self-start{
    background-color: #264653;
  } */
 .btn-blue{
  background-color: #264653;
  
 }
 .btn-blue:hover{
  background-color: #4f99b6;
  
 }
 .admin-button {
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
 }
 
 ul{
  style: none;
 }
 
 footer {
  background-color: #264653;
  color: #fff;
}
